<%=form_for(@student) do |f| %>
    <label>Student Frist Name:</label><br>
    <%= f.text_field :first_name %><br>

    <label>Student Last name</label><br>
    <%= f.text_area :last_name%><br>
  
    <%= f.submit %>
<% end %>